html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-heigh: 100%;
  background-color: #f9f9f9;
  color: #333;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
header {
  padding: 50px;
  background-color: #eee;
  border-bottom: 2px solid #fff;
}
header div {
  margin: 0 auto;
  width: 640px;
  min-width: 640px;
}
header h1 {
  color: #333;
  margin: 0;
}
section {
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  padding: 60px 0 80px;
  display: block;
  min-height: 400px;
}
section #main {
  width: 640px;
  min-width: 640px;
  margin: 0 auto;
  display: block;
}
section #main div.left {
  width: 324px;
  float: left;
  padding: 30px 22px;
  border-bottom: 1px solid #d2d2d2;
  border-radius: 15px;
  background-color: #eee;
  box-shadow: inset 0 1px 1px 1 #c7c7c7;
  display: block;
}
section #main div.right {
  width: 200px;
  margin-left: 60px;
  font-size: 12px;
  color: ligther(#333, 10);
  float: left;
  padding-top: 36px;
}
section #main div.right p {
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 15px;
}
form label {
  display: block;
  width: 100%;
}
form input[type =text],
form input[type =password] {
  width: 260px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #bababa;
}
form button {
  background: #e3e3e3;
  border: 1px solid #bbb;
  border-radius: 3px;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #333;
  font: bold 12px;
  line-height: 1;
  padding: 8px 0 9px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  width: 150px;
}
form button:hover {
  background: #d9d9d9;
  box-shadow: inset 0 0 1px 1px #eaeaea;
  color: #222;
  cursor: pointer;
}
form button:active {
  background: #d0d0d0;
  box-shadow: inset 0 0 1px 1px #e3e3e3;
  color: #000;
}
#register {
  border-top: 1px solid #d2d2d2;
  margin-top: 20px;
  font-size: 12px;
}
#login {
  border-top: 1px solid #d2d2d2;
  margin-top: 20px;
  font-size: 12px;
}
div#clearfix {
  display: block;
  clear: both;
  margin: 0;
  padding: 10;
}
footer {
  width: 100%;
  margin: 0;
  padding: 20px 0;
  background-color: #eee;
  height: 100px;
  text-align: center;
  font-size: 11px;
}
footer p {
  width: 640px;
  margin: 0 auto;
}
a {
  color: #00b7ff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.box {
  display: none;
}
.box.on {
  display: block;
}
ul#errors {
  font-size: 12px;
  border-bottom: 1px solid #f00;
  background-color: #f99;
  margin: 0 0 30px 0;
  padding: 15px 30px 0;
}
ul#errors li.error {
  padding-bottom: 15px;
}
